.gs-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    background-color: #f7f7f7;
}

.gs-title {
    font-size: 2rem;
    font-weight: bold;
    color: #008080;
}

.gs-code {
    font-size: 32px;
    text-align: center;
}

.gs-code-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .gs-subtitle {
    font-size: 32px;
    font-weight: bold;
    margin-right: 10px;
  }
  
  .gs-copy-button {
    background-color: #008080;
    color: #ffffff;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    margin-left: 1rem;
    margin-top: 0.5rem;
  }
  
  .gs-copy-button:hover {
    background-color: #ffffff;
    color: #008080;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #008080;
  }

  .gs-start-button {
    background-color: #008080;
    color: #ffffff;
    font-size: 2rem;
    font-weight: bold;
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    margin-left: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }
  
  .gs-start-button:not([disabled]):hover {
    background-color: #ffffff;
    color: #008080;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #008080;
  }

  .gs-start-button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
